<ion-header>
    <ion-navbar>
        <ion-title>
            <img src="assets/icon/clipboard-white.png" alt="">
            Trending packages & Member...
            <span (click)="goBack()">Back</span>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="page-holder bg-light">
    <ion-toolbar class="services-search">
        <ion-searchbar placeholder="Search plans" [(ngModel)]="planText"></ion-searchbar>
    </ion-toolbar>

    <ion-row *ngIf="!error" class="page-row services-row">
        <ion-grid class="service-grid">
            <ion-row>
                <ion-col *ngFor="let package of packageArr | filter:planText" col-6>
                    <div class="service-holder" (click)="openMembership(package)">
                        <img class="service-img" onerror="this.src='assets/imgs/blank_package.jpg'" src="{{package.image}}" alt="">
                        <div class="lower-content">
                            <span>{{package.name}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-row>
    <div class="empty-cart" *ngIf="error">
        <img (click)="refreshData()" src="assets/imgs/error.jpg" alt="" />
    </div>
</ion-content>