page-about {
    ion-header{
        ion-navbar{
            .toolbar-background{
                background: url('../assets/imgs/common-bg-2.jpg');
                background-size: cover;
            }
            ion-title{
                img{
                    width: 10px;
                    margin-right: 10px;
                }
                .toolbar-title-md{
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                }
                span{
                    float:right;
                }
            }
        }
    }
    .heading {
        color: $text-light;
        font-size: 1.5rem;
    }
    .logo {
        width: 260px;
        margin: auto;
        display: block;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    p {
        font-size: 1.5rem;
        font-weight: 500;
        color: $text-dark;
        line-height: 1.5;
    }
    .conditions {
        border-top: 5px solid $bg-light;
        p {
            font-size: 1.5rem;
            font-weight: 500;
        }
    }

    ion-content{
        background-color: #f5f5f5 !important;
    }

    .empty-cart{
        img{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100%;
        }
    }
}
