page-changepassword {
    .page-holder{
        background-image: url('../assets/imgs/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        .form-holder{
            margin-top: 36vh;
            ion-item{
                background-color: transparent;
            }
        }
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
        background:linear-gradient(to right,#ffb400, $text-theme);
    }
    p.para-text{
        font-family: AlteHaasGroteskBold;
    }
    .form {
        margin-bottom: 30px;
        img{
            width: 1.2em;
            margin: 0 !important;
            margin-top: 30px !important;
        }
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        a{
            color: $text-theme;
        }
    }
}
