page-changepassword {
    .page-holder{
        background-image: url('../assets/imgs/background.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        .form-holder{
            margin-top: 36vh;
            ion-item{
                background-color: transparent;
            }
        }
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
        background:linear-gradient(to right,#6954e1, #322560);
    }
    p.para-text{
        font-family: AlteHaasGroteskBold;
    }
    .form {
        margin-bottom: 30px;
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        a{
            color: #6954e1;
        }
    }
}
