page-newpassword {
    .page-holder{
        background-image: url('../assets/imgs/background.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        .form-holder{
            margin-top: 36vh;
            ion-item{
                background-color: transparent;
            }
        }
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
        background:linear-gradient(to right,#6954e1, #322560);
    }
    .form {
        margin-bottom: 30px;
    }
    .validator-error{
        font-size: 12px;
        font-weight: 100;
        color: red;
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        a{
            color: #6954e1;
        }
    }
    .password-eye{
        background: transparent;
        border: none;
        box-shadow: none;
        margin-top: 35px !important; 
        .eye{
            margin-top: 0px !important;
            font-size: 25px !important;
        }
    }
}
