page-newpassword {
    .button {
        height: 50px;
        font-size: 1.5rem;
        background:linear-gradient(to bottom, #facb74 0%,#d2890a 100%);
    }
    .form {
        margin-bottom: 30px;
    }
    p {
        margin-bottom: 50px;
        margin-top: 30px;
    }

    ion-icon{
        color:#d2890a !important;
    }
    .validator-error{
        font-size: 12px;
        font-weight: 100;
        color: red;
    }
    .password-eye{
        background: transparent;
        border: none;
        box-shadow: none;
        margin-top: 35px !important; 
        .eye{
            margin-top: 0px !important;
            font-size: 25px !important;
        }
    }
}
