<ion-header>
    <ion-navbar>
        <ion-title>Update Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <form (submit)="updatepassword()" [formGroup]="passwordForm" novalidate>
        <p text-center>Enter your new password</p>
        <ion-list no-lines class="form">
            <ion-item>
                <ion-icon name="lock" item-start></ion-icon>
                <ion-label floating>Enter new password</ion-label>
                <ion-input formControlName="Password" [(ngModel)]="passwordData.password" type="{{passwordType}}"></ion-input>
                
            </ion-item>
            <div *ngIf="passwordForm.controls.Password.invalid && passwordForm.controls.Password.errors" class="validator-error">
                This field will not be empty
            </div>
            <ion-item>
                <ion-icon name="lock" item-start></ion-icon>
                <ion-label floating>Confirm password</ion-label>
                <ion-input formControlName="confirm_pass" [(ngModel)]="confirm_pass" type="{{passwordType}}"></ion-input>
                <button type="button" class="password-eye" ion-button (click)="passwordViewSwitch($event); $event.stopPropagation()" item-end>
                    <ion-icon class="eye" name="{{passwordIcon}}"></ion-icon>
                </button>
            </ion-item>
            <div *ngIf="passwordForm.controls.confirm_pass.invalid && passwordForm.controls.confirm_pass.errors && passwordForm.controls.confirm_pass.errors.required" class="validator-error">
                This field cannot be empty
            </div>
            <div *ngIf="passwordForm.controls.confirm_pass.invalid && passwordForm.controls.confirm_pass.errors && passwordForm.controls.confirm_pass.errors.equalTo" class="validator-error">
                Password doesn't match
            </div>
        </ion-list>
        <button ion-button block type="submit">Submit</button>
    </form>
</ion-content>