<ion-header>
    <ion-navbar>
        <ion-title>
            <img src="assets/icon/clipboard-white.png" alt="">
            Our Services
            <span (click)="goBack()">Back</span>
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="page-holder bg-light">
    <ion-toolbar class="services-search">
        <ion-searchbar placeholder="Search for services" [(ngModel)]="query"></ion-searchbar>
    </ion-toolbar>
    <ion-row *ngIf="!error" class="page-row services-row">
        <ion-grid class="service-grid">
            <ion-row>
                <ion-col col-6 *ngFor="let service of serviceData | filter:query" (click)="selectService(service)">
                    <div class="service-holder">
                        <img class="service-img" src="{{service.image?service.image:'assets/imgs/no-service-1.png'}}" alt="">
                        <div class="lower-content">
                            <img src="assets/icon/right-arrow.png" alt="">
                            <span>{{service.service_name}}</span>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-row>
    <div class="empty-cart" *ngIf="error">
        <img (click)="refreshData()" src="assets/imgs/error.jpg" alt="" />
    </div>
</ion-content>