page-profile {
    ion-header{
        ion-navbar{
            .toolbar-background{
                background: url('../assets/imgs/common-bg-2.jpg');
                background-size: cover;
            }
            ion-title{
                img{
                    width: 10px;
                    margin-right: 10px;
                }
                .toolbar-title-md{
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                }
                span{
                    float: right;
                }
            }
        }
    }
    .page-holder{
       
        .form-holder{
            // top: 43%;
            // left: 5%;
            // width: 90%;
            // height: 40%;
            // overflow-y: scroll;
            // position: absolute;
            ion-item{
                background-color: transparent;
                margin-bottom: 0px;
                border-bottom:1px solid #a4a4a4 !important;
            }
        }
    }
    .profile-img {
        width: 90px;
        margin: auto;
        display: block;
        position: relative;
        margin-bottom: 40px;
        margin-top: 10px;
        img {
            border-radius: 50%;
            display: block;
            overflow: hidden;
        }
        ion-icon {
            position: absolute;
            width: 25px;
            height: 25px;
            line-height: 25px;
            text-align: center;
            font-size: 1.4rem;
            border-radius: 50%;
            background: $bg-theme;
            color: $white;
            top: 6px;
            right: 2px;
        }
    }
    .text-input {
        font-size: 1.5rem;
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
    }
    .form {
        margin-bottom: 30px;
        .item {
            margin-bottom: 10px;
        }
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        p {
            color: #d2890a;
            padding-bottom: 15px;
            font-size: 1.5rem;
        }
    }
    .btn-update{
        background:linear-gradient(to right,#ffb400, $text-theme);
        color: #fff;
        border:none;
    }
}
