page-otp {
    .page-holder{
        background-image: url('../assets/imgs/background.png');
        background-size: cover;
        background-repeat: no-repeat;
        .form-holder{
            margin-top: 36vh;
            ion-item{
                background-color: transparent;
            }
        }
    }
    p.para-text{
        font-family: AlteHaasGroteskBold;
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
        background:linear-gradient(to right,#ffb400, $text-theme);
    }
    .form {
        margin-bottom: 15px;
    }

    .pass{
        margin-top: 0px;
        padding-top: 0px;
        text-align: right;
        margin-bottom: 15px;
    }

}
