<ion-content class="page-holder" [style.background-size]="'100% ' + shouldHeight" padding>
    <div class="form-holder">
        <p class="para-text">Let us know One time password (OTP) we sent on your registered phone number</p>
        <ion-list no-lines class="form">
            <ion-item>
                <ion-input type="number" [(ngModel)]="otpData.otp" placeholder="Enter One Time Password" text-center></ion-input>
            </ion-item>
        </ion-list>
        <p class="pass"><span *ngIf="isTimerOn">{{timer+" Sec left"}}</span>
            <span *ngIf="!isTimerOn" (click)="resendOTP()">Resend OTP</span></p>
        <button ion-button block (click)="signin()">Submit</button>
    </div>
</ion-content>
