page-signin {
    .image-holder{
        height: 100%;
        width: 100%;
        position: relative;
        background: #fff;
    }
    .page-holder{
        .form-holder{
            ion-item{
                background: #fff;
                img{
                    width: 1.2em;
                    margin: 0;
                    margin-top: 30px;
                }
            }
            form{
                padding:16px;
            }
        }
        // .scroll-content{
        //     padding:0 !important;
        //     background: #F7F7F7;
        // }
    }
    .scroll-content{
        padding-bottom: 0px !important;
    }
   
    .item-md{
        transition:none;
    }
    .form .item .item-inner h5{
        color: #d2890a;
    }
    
    h3 {
        margin-top: 0;
    }

    .validator-error{
        font-size: 12px;
        font-weight: 100;
        color: red;
    }
    
    .pass{
        margin-top: 0px;
        padding-top: 0px;
        text-align: right;
        color: #000;
    }
    .password-eye{
        z-index:1;
        font-size: 1.5em !important;
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
    }
    .form {
        margin-bottom: 10px;
    }
    .btn-submit{
        background:linear-gradient(to right,#ffb400, #f40000);
    }
    p {
        line-height: 30px;
        padding-top: 10px;
        font-size: 1.3rem;
        font-weight: 500;
        color: darken($text-light, 40%);
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        a{
            color: #f40000;
        }
    }
    .btn-register{
        color: #f40000;
        border: 1px solid #f40000;
    }
}
