page-faq-detail {
    ion-header{
        ion-navbar{
            .toolbar-background{
                background: url('../assets/imgs/common-bg-2.jpg');
                background-size: cover;
            }
            .back-button{
                ion-icon{
                    color: #fff !important;
                    padding: 0px 0px;
                }
            }
            ion-title{
                .toolbar-title-md{
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                    padding: 0 0px;
                }
            }
        }
    }
    p.heading-para{
        padding: 0px 20px;
        font-weight:300;
    }
}
