<ion-header>
  <ion-navbar>
    <ion-title>
      <img src="assets/icon/calendar-white.png" alt="">
      Bookings
      <span (click)="goBack()">Back</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="bg-light">

  <ion-segment class="SwipedTabs-tabs">
    <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
      [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }'>
      {{tab}}
    </ion-segment-button>
  </ion-segment>
  <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
  <ion-slides #SwipedTabsSlider (ionSlideDrag)="animateIndicator($event)"
    (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()"
    (pan)="updateIndicatorPosition()" [pager]="false">
    <ion-slide>
      <ion-list no-lines class="assigned" padding-top>
        <ion-item *ngFor="let booking of pendingBookings" (click)="goToTrackBooking(booking)">
          <div class="booking-item">
            <div class="profile-pic" style="background:url(assets/imgs/plumber-profile.jpg)"></div>

            <div class="content">
              <h2 class="d-flex">Booking ID: {{booking.booking_id}}</h2>
              <h2 class="d-flex customer-name">{{booking.vendor_name}}</h2>
              <h2 class="d-flex">Blockage | Plumber</h2>
              <img *ngIf="booking.booking_status == '1'" src="assets/imgs/pending.png" alt="">
              <img *ngIf="booking.booking_status == '2' || booking.booking_status == '3' || booking.booking_status == '6'" src="assets/imgs/in-process.png" alt="">
            </div>
          </div>
          <div class="lower-content">
            <div class="img-content">
              <ion-icon name="call" (click)="callVendor(booking?.vendor_phone)"></ion-icon>
            </div>
            <div>
              <h2 class="d-flex">{{booking.created_at*1000 | date:'d MMM y | h:mm a'}}</h2>
              <h2 class="d-flex customer-name"></h2>
              <img src="assets/icon/right-arrow.png" alt="">
            </div>
          </div>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      
          <ion-list no-lines class="completed" padding-top>
              <ion-item *ngFor="let booking of completedBookings" (click)="goToTrackBooking(booking)">
                <div class="booking-item">
                  <div class="profile-pic" style="background:url(assets/imgs/plumber-profile.jpg)"></div>
      
                  <div class="content">
                    <h2 class="d-flex">Booking ID: {{booking.booking_id}}</h2>
                    <h2 class="d-flex customer-name">{{booking.vendor_name}}</h2>
                    <h2 class="d-flex">Blockage | Plumber</h2>
                    <img *ngIf="booking.booking_status == '5'" src="assets/imgs/completed.png" alt="">
                  </div>
                </div>
                <div class="lower-content">
                  <!-- <div class="img-content">
                    <ion-icon name="call" (click)="callVendor(booking?.vendor_phone)"></ion-icon>
                  </div> -->
                  <div>
                    <h2 class="d-flex">{{booking.created_at*1000 | date:'d MMM y | h:mm a'}}</h2>
                    <h2 class="d-flex customer-name">Rs. {{booking.amount}}</h2>
                    <img src="assets/icon/right-arrow.png" alt="">
                  </div>
                </div>
              </ion-item>
              <ion-item *ngIf="completedBookings.length < 1">0 booking completed</ion-item>
            </ion-list>
      
    </ion-slide>
  </ion-slides>

</ion-content>