page-account {
    ion-header{
        ion-navbar{
            .toolbar-background{
                background: url('../assets/imgs/common-bg-2.jpg');
                background-size: cover;
            }
            ion-title{
                img{
                    width: 10px;
                    margin-right: 10px;
                }
                .toolbar-title-md{
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                }
                span{
                    float:right;
                }
            }
        }
    }
    .toolbar-title {
        color: #000;
    }
    
    .item-md ion-icon[item-left], .item-md ion-icon[item-right], .item-md ion-icon[item-start], .item-md ion-icon[item-end], .item-md img{
        margin:0 !important;
    }
    .item-md img{
        width: 1.8rem;
    }

    ion-content{
        div.scroll-content{
            background-image: url(../assets/imgs/profile-background.png);
            background-size: cover;
            background-position-y: 67%;
        }
    }
    
    .order-head {
        padding: 15px 16px 15px;
        background-image: url('../assets/imgs/blue-dots.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 12%;
        //border-bottom: 5px solid $bg-light;
        h4{
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 1.2em;
            color: #fff;
        }
        .row {
            display: flex;
            align-items: center;
        }
        .col {
            .profile-pic{
                margin: auto;
                max-width: 100px;
                border-radius: 50%;
                border: 1px solid $text-theme;
                height: 100px;
                width: 100px;
                background-size: cover;
                background-repeat: no-repeat;
                img{
                    position: absolute;
                    margin-top: 69px;
                    margin-left: 75px;
                    width: 25px;
                }
                ion-icon{
                    position: absolute;
                    margin-top: 69px;
                    font-size: 29px;
                    margin-left: 80px;
                    border-radius: 50%;
                }
            }
            .fixed-profile{
                background-size: 80%;
                background-position: 10px 6px;
            }
            p {
                font-weight: 900;
                color: $text-dark;
                font-size: 2rem;
                padding-left: 5px;
                span {
                    display: block;
                    color: $text-theme;
                    font-size: 1.4rem;
                    font-weight: 200;
                    margin-top: 3px;
                }
            }
        }
    }
    .about {
        font-size: 1rem;
        font-weight: 500;
        color: $text-muted;
    }
    .list {
        //margin-top:5px;
        margin-bottom:0px;
        .item{
            background: transparent;
            margin-bottom: -6px;
            padding-bottom:1px;
            .item-inner{
                .label{
                    font-size: 1.3rem;
                    font-weight: 500;
                    margin:0;
                }
            }
        }
        // .item:first-child {
        //     padding-top: 16px;
        // }
        .item:last-child {
            padding-bottom: 0px;
        }
    }
    .item {
        padding-top: 3px;
        padding-bottom: 3px;
        ion-icon {
            font-size: 1.8rem;
            color: $text-theme;
            line-height: 28px;
        }
        .item-inner {
            margin-left: 5px !important;
            .label {
                font-size: 1.4rem;
                font-weight: 700;
                color: $text-dark;
                padding-left: 16px;
            }
        }
    }
    ion-list{
        border-top: 2px solid #eee;
    }
    @media only screen and (max-width: 400px) {
        ion-list{
            background-image: url('../assets/imgs/profile-background.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: 87%;
            background-color: #fff;
        }
    }
    .logo {
        img {
            width: 200px
        }
    }
}
