page-password {
    ion-header{
        ion-navbar{
            .toolbar-background{
                background: url('../assets/imgs/common-bg-2.jpg');
                background-size: cover;
            }
            ion-title{
                img{
                    width: 10px;
                    margin-right: 10px;
                }
                .toolbar-title-md{
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                }
                span{
                    float:right;
                }
            }
        }
    }

    .button {
        height: 50px;
        font-size: 1.5rem;
        background:linear-gradient(to right,#ffb400, $text-theme);
    }
    .form {
        margin-bottom: 30px;
        ion-item{
            img{
                width: 1.2em;
                margin: 0 !important;
                margin-top: 30px !important;
            }
        }
    }
    .validator-error{
        font-size: 12px;
        font-weight: 100;
        color: red;
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        a{
            color: $text-theme;
        }
    }
    .password-eye{
        background: transparent;
        border: none;
        box-shadow: none;
        margin-top: 35px !important; 
        .eye{
            margin-top: 0px !important;
            font-size: 25px !important;
        }
    }

}
