page-signup {
    .page-holder{
        background-image: url('../assets/imgs/background.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        .form-holder{
            top: 34%;
            position: absolute;
            width: 90%;
            left: 5%;
            ion-item{
                background-color: transparent;
            }
        }
    }
    .cam-icon {
        width: 75px;
        height: 75px;
        font-size: 2.6rem;
        background-color: $bg-light;
        text-align: center;
        line-height: 75px;
        color: $white;
        border-radius: 50%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .validator-error{
        font-size: 12px;
        font-weight: 100;
        color: red;
    }
    .password-eye{
        z-index:1;
        font-size: 1.6em !important;
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
    }
    .form {
        margin-bottom: 35px;
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        a{
            color: #6954e1;
        }
    }
    .btn-submit{
        background:linear-gradient(to right,#6954e1, #322560);
    }

}
