page-signup {
    .page-holder{
        .form-holder{
            ion-item{
               background: #F7F7F7; 
            }
            form{
                padding:16px;
            }
        }
        .scroll-content{
            padding:0 !important;
            background: #F7F7F7;
        }
    }
    .cam-icon {
        width: 75px;
        height: 75px;
        font-size: 2.6rem;
        background-color: $bg-light;
        text-align: center;
        line-height: 75px;
        color: $white;
        border-radius: 50%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .validator-error{
        font-size: 12px;
        font-weight: 100;
        color: red;
    }
    .password-eye{
        z-index:1;
        font-size: 1.6em !important;
    }
    .button {
        height: 50px;
        font-size: 1.5rem;
    }
    .form {
        margin-bottom: 35px;
    }
    .fixed-bottom {
      
       
        width: 100%;
        
        padding-bottom: 8px !important;
        a{
            color: #6954e1;
        }
    }
    .btn-submit{
        background:linear-gradient(to right,#6954e1, #322560);
    }

}
