page-single-membership {
    ion-header{
        ion-navbar{
            .toolbar-background{
                background: url('../assets/imgs/common-bg-2.jpg');
                background-size: cover;
            }
            ion-title{
                img{
                    width: 20px;
                    margin-right: 10px;
                    transform: rotate(-180deg);
                }
                .toolbar-title-md{
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                }
                span{
                    float:right;
                }
            }
        }
    }
    ion-content.page-holder{
        color: $text-theme;
        ion-row{
            h3{
                font-size: 15px;
                span{
                    font-size: 20px;
                    color: $text-theme;
                    font-weight: bold;
                }
            }
            h4{
                width: 100%;
            }
            p{
                width: 100%;
                span{
                    font-weight: bold;
                }
            }
            button{
                height: 50px;
                font-size: 1.5rem;
                background:linear-gradient(to right,#ffb400, $text-theme);
            }
        }
    }
}
