page-subcategorylist{
    ion-header{
        ion-navbar{
            .toolbar-background{
                background: url('../assets/imgs/common-bg-2.jpg');
                background-size: cover;
            }
            ion-title{
                img{
                    width: 10px;
                    margin-right: 10px;
                }
                .toolbar-title-md{
                    font-size: 15px;
                    color: #fff;
                    font-weight: 400;
                }
                span{
                    float:right;
                }
            }
        }
    }
    .white-bg{
        background: #fff !important;
        box-shadow: 0px 1px 2px 1px #ccc;
    }
    .list-item{
        margin-top: 5px;
        
        background: transparent;
        .item-inner{
            padding-right: 0px !important;
        }
        .back-arrow{
            width: 20px;
        }
        .tick-icon{
            width: 20px;
        }
        span.service-name{
            font-weight: 400;
        }
        ion-label{
            margin: 2px 8px 2px 0 !important;
        }
        div.booking-item{
            display: flex;
            box-shadow: 0px 1px 2px 1px #ccc;
            div.profile-pic{
                width: 70px;
                height: 70px;
                background-size: cover !important;
                background-repeat: no-repeat !important;
            }
            div.content{
                width: calc(100% - 70px);
                padding: 0px 10px;
                background: url(../assets/imgs/blue-dots.png);
                background-size: cover;
                background-position-y: 12%;
                h2{
                    font-size: 14px;
                    line-height: 1.4;
                }
                h2.customer-name{
                    color: $text-theme;
                }
                img{
                    position: absolute;
                    width: 65px;
                    right: 0;
                    margin-right: 25px;
                    margin-top: -55px;
                }
            }
        }
        div.lower-content{
            max-width:100%;
            background:linear-gradient(to right,#ffb400, $text-theme);
            height:50px;
            padding: 7px;
            margin-top: 2px;
            display: flex;
            box-shadow: 0px 1px 2px 1px #ccc;
            div.lower-detail{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
                max-width: 200px;
                position: absolute;
            }
            h2{
                font-size: 14px;
                color: #fff;
            }
            div.img-content{
                padding: 5px;
                border-right: 1px solid #fff;
                padding-right: 10px;
                ion-icon{
                    color: #fff;
                    font-size: 25px;
                }
            }
            
            div:nth-child(2){
                padding-left: 10px;
            }
        }
    }
    .cat-button{
        padding: 1.2em 1.2em !important;
        background-color: transparent;
        color: #fff !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #fff !important;
        font-size: 1.5rem !important;
        position: absolute;
        right: 0;
        margin-right: 20px !important;
        margin-top: 0px !important;
    }
    .quantity-button-holder{
        font-size: 1.5rem !important;
        position: absolute;
        right: 0;
        margin-right: 20px !important;
        margin-top: 0px !important;
        color: #fff;
        ion-icon{
            border: 1px solid;
            padding-left: 8.5px;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            padding-top: 5px;
            color: #fff;
        }
        ion-icon:first-of-type{
            margin-right: 5px;
        }
        ion-icon:last-of-type{
            margin-left: 5px;
        }
    }
    .fixed-bottom {
        position: fixed;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-bottom: 8px !important;
        .btn-update{
            background:linear-gradient(to right,#ffb400, $text-theme);
            border:none;
            padding:20px;
        }
        p {
            color: #d2890a;
            padding-bottom: 15px;
            font-size: 1.5rem;
        }
        span.total_order{
            border: 1px solid;
            padding: 5px 10px;
            margin-right: 25%;
            color:#fff;
        }
        span.total_amount{
            margin-right: 20%;
            color:#fff;
            font-weight: bold;
        }
        span.place_order{
            color:#fff;
        }
    }
}