<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>
            <img src="assets/icon/clipboard-white.png" alt="">
            {{subCategoryName}}
            <span (click)="goBack()">Back</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="page-holder bg-light">
    <img *ngIf="!internalPageFlag && serviceImage" src="{{serviceImage}}" alt="">
    <ion-list>
        <ion-item no-lines class="list-item" [ngClass]="{'white-bg':subcat.level==='2'}" *ngFor="let subcat of subCategoriesList"
            (click)="selectSubCategory(subcat, $event)">
            <img *ngIf="subcat.level==='2'" class="tick-icon" item-start src="assets/icon/tick.png">
            <span *ngIf="subcat.level==='2'" class="service-name">{{subcat.service_name}}</span>
            <img class="back-arrow" *ngIf="subcat.level==='2'" item-end src="assets/icon/back-arrow.png"> 

            <div *ngIf="subcat.level==='3'" class="booking-item">
                <div class="profile-pic" [ngStyle]="{'background':subcat.image?'url('+subcat.image+')':'url(assets/imgs/no-service-1.png)'}"></div>

                <div class="content">
                    <h2 class="d-flex">{{subcat.service_name}}</h2>
                    <h2 class="d-flex customer-name">&#8377; {{subcat.rate_per_min}} {{subcat.mode == 'rate_per_min'?"/ min":"Fixed"}}</h2>
                    <h2 class="d-flex">{{subcat.avg_time_taken}}</h2>
                </div>
            </div>
            <div *ngIf="subcat.level==='3'" class="lower-content">
                <div>
                    <div class="lower-detail" (click)="openDescription(subcat, $event)">
                        <h2 class="d-flex">{{subcat.detail}}</h2>
                    </div>

                    <button ion-button item-end class="cat-button" (click)="selectService(subcat, $event)"
                *ngIf="subcat.level==='3' && subcat.orderCount < 1">Add +</button>
                    <div *ngIf="subcat.level==='3' && subcat.orderCount > 0" item-end class="quantity-button-holder">
                        <ion-icon (click)="decreaseQuantity(subcat, $event)" name="remove"></ion-icon>
                        <span>{{subcat.orderCount}}</span>
                        <ion-icon (click)="addQuantity(subcat, $event)" name="add"></ion-icon>
                    </div>
                </div>
            </div>

        </ion-item>
        <ion-item *ngIf="subCategoriesList.length < 1">
            Sub categories not available :(
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer *ngIf="cartData.length > 0" class="fixed-bottom">
    <button class="btn-update" (click)="goToPaymentPage()" ion-button outline block>
        <span class="total_order">{{orderButtonData.totalOrders}}</span>
        <span class="total_amount">&#8377; {{orderButtonData.totalAmount}}</span>
        <span class="place_order">View Cart</span>
    </button>
</ion-footer>